<section class="py-12 border-y border-gray-200 dark:border-gray-800">
  <div class="flex flex-wrap justify-between items-center gap-8 opacity-50 grayscale hover:grayscale-0 transition-all duration-500 px-8">
    {{#each site.partners}}
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined text-4xl">{{icon}}</span>
      <span class="font-bold text-xl uppercase">{{label}}</span>
    </div>
    {{/each}}
  </div>
</section>
